.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-body p {
  font-size: 16px;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.custam-clear{
  cursor: pointer;
}
