<div class="card">
  <div class="card-body">

    <h5 class="card-title">Observable == {{ user1 }}</h5>

    <h5 class="card-title">singaldata == {{ singaldata}}</h5>

    <input type="text" class="form-control" placeholder="Enter anything here" [(ngModel)]="users">
    <button type="button" class="btn-primary btn mt-2" (click)="savedata()">save</button>
  </div>
</div>

<div class="card mb-3 mt-3">
  <div class="card-body">
    <h5 class="card-title">Component A</h5>
    <p>NGRX Shared Input: {{ sharedInput$ | async }}</p>
    <input
      type="text"
      class="form-control"
      placeholder="Update Shared Input"
      #userData
    />
    <button type="button" class="btn-primary btn mt-2" (click)="onInputChange(userData)">save</button>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">API Data</h5>

    <!-- Loading indicator -->
    <p *ngIf="loading$ | async">Loading...</p>

    <!-- Error message -->
    <p *ngIf="error$ | async" class="text-danger">{{ error$ | async }}</p>

    <!-- API data -->
    <ul *ngIf="apiData$ | async as apiData" class="list-group">
      <li *ngFor="let item of apiData" class="list-group-item">
        <span *ngIf="item.username; else noName">
          {{ item.username.toLowerCase() }} => {{ item.email.toLowerCase() }}
        </span>
        <ng-template #noName>
          <em>No Name Available</em>
        </ng-template>
      </li>
    </ul>

    <button class="btn btn-primary mt-3" (click)="onFetchData()">Fetch Data</button>
  </div>
</div>


